$theme-colors: (
    // 'primary': tomato
);

@import '~bootstrap/scss/bootstrap';

.clock-container{
    font-family: helvetica, sans-serif
}
.time-display{
    font-family: 'Allerta Stencil', helvetica, sans-serif
}